@import "../../../common/Colors.module.scss";

@include styleWithStatus("&.card", border-color);

.dragAndDropContainer {
  width: 170px;
  height: 94px;

  .card {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: #263141;
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
    //z-index: 3;
    animation-name: animateIn;
    animation-duration: 350ms;
    animation-delay: calc(var(--animation-order) * 100ms);
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;

  }
}

@keyframes animateIn {
  0% {
    opacity: 0;
    transform: scale(0.6) translateY(-8px);
  }

  100% {
    opacity: 1;
  }
}

.hovered {
  transform: scale(1.05);
}
