@import '../../../../common/Colors.module.scss';
@include styleWithStatus("&.cardStatus", color);

.cardBody {
  height: 22px;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: flex-end;

  .cardStatus, .cardLastStatusChange {
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: center;
  }
}