.cardHeader {
  height: 33px;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: flex-end;

  .icon {
    position: absolute;
    display: inline-flex;
    top: 5px;
    right: 5px;

    &:hover {
      svg {
        path {
          fill: white;
        }
      }
    }
  }

  .cardName {
    font-family: Roboto, serif;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 0;
    text-align: center;
    color: #96A7AF;
  }
}